<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<style>
    .pc-builder-card{
        width:50vw;
        height: 15vh;
    }
    
    .img {
    float: left;
    width: 7vw;
    height: 7vh;
    }
    
    .txt {
    float: left;
    max-width: 30vw;
    max-height: 20vh;
    padding-left: 3vw;
    padding-top: 1vh;
    font-size: 1rem;
    }
    
    .pc-builder-btn{
        float: right;
    width:10vw;
    height: 5vh;
     border-radius: 1.5vw;
     cursor: pointer;
     font-size: 1rem;
    }
    
    .ok{
        margin-bottom: 5vh;
    }
    
</style>
 
<html>
<body>
<%- include('../partials/header.ejs') %>


<div class="container">
  <h2>Build your own desktop with TECHWORLD</h2>
    
  <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
        <img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
        <div class="txt">MOTHERBOARD</div>
        <a href="/pcbuilder/MOTHERBOARD" ><button type="button" class="btn-outline-info pc-builder-btn">CHOOSE</button></a>
    </div>
  </div>

  <% if(products.MOTHERBOARD.PRODUCTID!=null) { %>
    <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
    <img class="img" src="<%= products.PROCESSOR.IMAGE %>">
    <div class="txt"><%= products.MOTHERBOARD.PRODUCT_NAME %></div>
    <div class="price"><%= products.MOTHERBOARD.PRICE %></div>
    <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">REMOVE</button></a>
    </div>
    </div>
    <% } %>


<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">PROCESSOR</div>
<% if(products.MOTHERBOARD.PRODUCTID==null) { %>
<a href="" ><button type="button" class="btn-outline-info pc-builder-btn" disabled>CHOOSE</button></a>
<% } else{ %>
    <a href="" ><button type="button" class="btn-outline-info pc-builder-btn">CHOOSE</button></a>
<% } %>
</div>
</div>



<% if(products.PROCESSOR.PRODUCTID!=null) { %>
    <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
    <img class="img" src="<%= products.PROCESSOR.IMAGE %>">
    <div class="txt"><%= products.PROCESSOR.PRODUCT_NAME %></div>
    <div class="price"><%= products.PROCESSOR.PRICE %></div>
    <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">REMOVE</button></a>
    </div>
    </div>
    <% } %>

<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">GRAPHICS CARD</div>
<% if(products.MOTHERBOARD.PRODUCTID==null) { %>
    <a href="" ><button type="button" class="btn-outline-info pc-builder-btn" disabled>CHOOSE</button></a>
    <% } else{ %>
        <a href="" ><button type="button" class="btn-outline-info pc-builder-btn">CHOOSE</button></a>
    <% } %>
</div>
</div>

<% if(products.GRAPHICS_CARD.PRODUCTID!=null) { %>
    <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
    <img class="img" src="<%= products.GRAPHICS_CARD.IMAGE %>">
    <div class="txt"><%= products.GRAPHICS_CARD.PRODUCT_NAME %></div>
    <div class="price"><%= products.GRAPHICS_CARD.PRICE %></div>
    <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">REMOVE</button></a>
    </div>
    </div>
    <% } %>

<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">RAM 1</div>
<% if(products.MOTHERBOARD.PRODUCTID==null) { %>
    <a href="" ><button type="button" class="btn-outline-info pc-builder-btn" disabled>CHOOSE</button></a>
    <% } else{ %>
        <a href="" ><button type="button" class="btn-outline-info pc-builder-btn">CHOOSE</button></a>
    <% } %>
</div>
</div>

<% if(products.RAM1.PRODUCTID!=null) { %>
    <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
    <img class="img" src="<%= products.RAM1.IMAGE %>">
    <div class="txt"><%= products.RAM1.PRODUCT_NAME %></div>
    <div class="price"><%= products.RAM1.PRICE %></div>
    <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">REMOVE</button></a>
    </div>
    </div>
    <% } %>

<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">RAM 2</div>
<% if(products.MOTHERBOARD.PRODUCTID==null) { %>
    <a href="" ><button type="button" class="btn-outline-info pc-builder-btn" disabled>CHOOSE</button></a>
    <% } else{ %>
        <a href="" ><button type="button" class="btn-outline-info pc-builder-btn">CHOOSE</button></a>
    <% } %>
</div>
</div>


<% if(products.RAM2.PRODUCTID!=null) { %>
    <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
    <img class="img" src="<%= products.RAM2.IMAGE %>">
    <div class="txt"><%= products.RAM2.PRODUCT_NAME %></div>
    <div class="price"><%= products.RAM2.PRICE %></div>
    <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">REMOVE</button></a>
    </div>
    </div>
    <% } %>

<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">SSD</div>
<% if(products.MOTHERBOARD.PRODUCTID==null) { %>
    <a href="" ><button type="button" class="btn-outline-info pc-builder-btn" disabled>CHOOSE</button></a>
    <% } else{ %>
        <a href="" ><button type="button" class="btn-outline-info pc-builder-btn">CHOOSE</button></a>
    <% } %>
</div>
</div>

<% if(products.SSD.PRODUCTID!=null) { %>
    <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
    <img class="img" src="<%= products.SSD.IMAGE %>">
    <div class="txt"><%= products.SSD.PRODUCT_NAME %></div>
    <div class="price"><%= products.SSD.PRICE %></div>
    <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">REMOVE</button></a>
    </div>
    </div>
    <% } %>

<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">HDD</div>
<% if(products.MOTHERBOARD.PRODUCTID==null) { %>
    <a href="" ><button type="button" class="btn-outline-info pc-builder-btn" disabled>CHOOSE</button></a>
    <% } else{ %>
        <a href="" ><button type="button" class="btn-outline-info pc-builder-btn">CHOOSE</button></a>
    <% } %>
</div>
</div>

<% if(products.HDD.PRODUCTID!=null) { %>
    <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
    <img class="img" src="<%= products.HDD.IMAGE %>">
    <div class="txt"><%= products.HDD.PRODUCT_NAME %></div>
    <div class="price"><%= products.HDD.PRICE %></div>
    <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">REMOVE</button></a>
    </div>
    </div>
    <% } %>

<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">POWER SUPPLY</div>
<% if(products.MOTHERBOARD.PRODUCTID==null) { %>
    <a href="" ><button type="button" class="btn-outline-info pc-builder-btn" disabled>CHOOSE</button></a>
    <% } else{ %>
        <a href="" ><button type="button" class="btn-outline-info pc-builder-btn">CHOOSE</button></a>
    <% } %>
</div>
</div>


<% if(products.POWER_SUPPLY.PRODUCTID!=null) { %>
    <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
    <img class="img" src="<%= products.POWER_SUPPLY.IMAGE %>">
    <div class="txt"><%= products.POWER_SUPPLY.PRODUCT_NAME %></div>
    <div class="price"><%= products.POWER_SUPPLY.PRICE %></div>
    <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">REMOVE</button></a>
    </div>
    </div>
    <% } %>
  
</div>

<%- include('../partials/footer.ejs') %>

</body>
</html>