<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


<style>
    .add-form-svk{
        max-width:80vw;
        padding-left: 5vw;
    }
</style>


<form class="add-form-svk" action="/login" method="post">
  
    
    <div class="form-group">
        
      <label class="form-label" for="disabledInput">Product Type </label>
      <input class="form-control" name="TYPE" id="TYPE" type="text" value="MOTHERBOARD" placeholder="MOTHERBOARD" readonly >

    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Product Name</label>
      <input type="text" class="form-control" name="PRODUCT_NAME" id="PRODUCT_NAME" aria-describedby="emailHelp" placeholder="<%= product.PRODUCT_NAME %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Brand ID</label>
      <input type="text" class="form-control" name="BRANDID" id="BRANDID" aria-describedby="emailHelp" placeholder="<%= product.BRANDID %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Price</label>
      <input type="text" class="form-control" name="PRICE" id="PRICE" aria-describedby="emailHelp" placeholder="<%= product.PRICE %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Image</label>
      <input type="text" class="form-control" name="IMAGE" id="IMAGE" aria-describedby="emailHelp" placeholder="<%= product.IMAGE %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Warranty</label>
      <input type="text" class="form-control" name="WARRANTY" id="WARRANTY" aria-describedby="emailHelp" placeholder="<%= product.WARRANTY %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Stock</label>
      <input type="text" class="form-control" name="STOCK" id="STOCK" aria-describedby="emailHelp" placeholder="<%= product.STOCK %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Details</label>
      <input type="text" class="form-control" name="DETAILS" id="DETAILS" aria-describedby="emailHelp" placeholder="<%= product.DETAILS %>">
    </div>

    


<div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">CAPACITY</label>
    <input type="text" class="form-control" name="CAPACITY" id="CAPACITY" aria-describedby="emailHelp" placeholder="<%= product.CAPACITY %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">FORM</label>
    <input type="text" class="form-control" name="FORM" id="FORM" aria-describedby="emailHelp" placeholder="<%= product.FORM %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">FACTOR</label>
    <input type="text" class="form-control" name="FACTOR" id="FACTOR" aria-describedby="emailHelp" placeholder="<%= product.FACTOR %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">FLASH</label>
    <input type="text" class="form-control" name="FLASH" id="FLASH" aria-describedby="emailHelp" placeholder="<%= product.FLASH %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">TYPE</label>
    <input type="text" class="form-control" name="TYPE" id="TYPE" aria-describedby="emailHelp" placeholder="<%= product.TYPE %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">INTERFACE</label>
    <input type="text" class="form-control" name="INTERFACE" id="INTERFACE" aria-describedby="emailHelp" placeholder="<%= product.INTERFACE %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">SEQ_READS</label>
    <input type="text" class="form-control" name="SEQ_READS" id="SEQ_READS" aria-describedby="emailHelp" placeholder="<%= product.SEQ_READS %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">SEQ_WRITES</label>
    <input type="text" class="form-control" name="SEQ_WRITES" id="SEQ_WRITES" aria-describedby="emailHelp" placeholder="<%= product.SEQ_WRITES %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">DIMENSION</label>
    <input type="text" class="form-control" name="DIMENSION" id="DIMENSION" aria-describedby="emailHelp" placeholder="<%= product.DIMENSION %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">WEIGHT</label>
    <input type="text" class="form-control" name="WEIGHT" id="WEIGHT" aria-describedby="emailHelp" placeholder="<%= product.WEIGHT %>">
    </div>
    
    
    

    <br>
    <input type="submit" class="btn btn-primary" value="UPDATE PRODUCT">
</form>