<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


<style>
    .add-form-svk{
        max-width:80vw;
        padding-left: 5vw;
    }
</style>


<form class="add-form-svk" action=<%="/admin/product/updateproduct/" + product.PRODUCTID %> method="post">
  
    
    <div class="form-group">
        
      <label class="form-label" for="disabledInput">Product Type </label>
      <input class="form-control" name="TYPE" id="TYPE" type="text" value="GRAPHICS_CARD" readonly >

    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Product Name</label>
      <input type="text" class="form-control" name="PRODUCT_NAME" id="PRODUCT_NAME" aria-describedby="emailHelp" value="<%= product.PRODUCT_NAME %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Brand ID</label>
      <input type="text" class="form-control" name="BRANDID" id="BRANDID" aria-describedby="emailHelp" value="<%= product.BRANDID %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Price</label>
      <input type="text" class="form-control" name="PRICE" id="PRICE" aria-describedby="emailHelp" value="<%= product.PRICE %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Image</label>
      <input type="text" class="form-control" name="IMAGE" id="IMAGE" aria-describedby="emailHelp" value="<%= product.IMAGE %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Warranty</label>
      <input type="text" class="form-control" name="WARRANTY" id="WARRANTY" aria-describedby="emailHelp" value="<%= product.WARRANTY %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Stock</label>
      <input type="text" class="form-control" name="STOCK" id="STOCK" aria-describedby="emailHelp" value="<%= product.STOCK %>">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Details</label>
      <input type="text" class="form-control" name="DETAILS" id="DETAILS" aria-describedby="emailHelp" value="<%= product.DETAILS %>">
    </div>    
    


<div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">GTYPE</label>
    <input type="text" class="form-control" name="GTYPE" id="GTYPE" aria-describedby="emailHelp" value="<%= product.GTYPE %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">GSIZE</label>
    <input type="text" class="form-control" name="GSIZE" id="GSIZE" aria-describedby="emailHelp" value="<%= product.GSIZE %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">RESOLUTION</label>
    <input type="text" class="form-control" name="RESOLUTION" id="RESOLUTION" aria-describedby="emailHelp" value="<%= product.RESOLUTION %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">BOOST_CLOCK</label>
    <input type="text" class="form-control" name="BOOST_CLOCK" id="BOOST_CLOCK" aria-describedby="emailHelp" value="<%= product.BOOST_CLOCK %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">GAME_CLOCK</label>
    <input type="text" class="form-control" name="GAME_CLOCK" id="GAME_CLOCK" aria-describedby="emailHelp" value="<%= product.GAME_CLOCK %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">CLOCK_INFO</label>
    <input type="text" class="form-control" name="CLOCK_INFO" id="CLOCK_INFO" aria-describedby="emailHelp" value="<%= product.CLOCK_INFO %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">MEMORY_CLOCK</label>
    <input type="text" class="form-control" name="MEMORY_CLOCK" id="MEMORY_CLOCK" aria-describedby="emailHelp" value="<%= product.MEMORY_CLOCK %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">MEMORY_INTERFACE</label>
    <input type="text" class="form-control" name="MEMORY_INTERFACE" id="MEMORY_INTERFACE" aria-describedby="emailHelp" value="<%= product.MEMORY_INTERFACE %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">STREAM_PROCESSORS</label>
    <input type="text" class="form-control" name="STREAM_PROCESSORS" id="STREAM_PROCESSORS" aria-describedby="emailHelp" value="<%= product.STREAM_PROCESSORS %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">DISPALY_PORT</label>
    <input type="text" class="form-control" name="DISPALY_PORT" id="DISPALY_PORT" aria-describedby="emailHelp" value="<%= product.DISPALY_PORT %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">HDMI</label>
    <input type="text" class="form-control" name="HDMI" id="HDMI" aria-describedby="emailHelp" value="<%= product.HDMI %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">CONNECTORS</label>
    <input type="text" class="form-control" name="CONNECTORS" id="CONNECTORS" aria-describedby="emailHelp" value="<%= product.CONNECTORS %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">RECOMMENDED_PSU</label>
    <input type="text" class="form-control" name="RECOMMENDED_PSU" id="RECOMMENDED_PSU" aria-describedby="emailHelp" value="<%= product.RECOMMENDED_PSU %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">CONSUMPTION</label>
    <input type="text" class="form-control" name="CONSUMPTION" id="CONSUMPTION" aria-describedby="emailHelp" value="<%= product.CONSUMPTION %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">MULTI_DISPLAY</label>
    <input type="text" class="form-control" name="MULTI_DISPLAY" id="MULTI_DISPLAY" aria-describedby="emailHelp" value="<%= product.MULTI_DISPLAY %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">DITERCTX</label>
    <input type="text" class="form-control" name="DITERCTX" id="DITERCTX" aria-describedby="emailHelp" value="<%= product.DITERCTX %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">DIMENSION1</label>
    <input type="text" class="form-control" name="DIMENSION1" id="DIMENSION1" aria-describedby="emailHelp" value="<%= product.DIMENSION1 %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">DIMENSION2</label>
    <input type="text" class="form-control" name="DIMENSION2" id="DIMENSION2" aria-describedby="emailHelp" value="<%= product.DIMENSION2 %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">DIMENSION3</label>
    <input type="text" class="form-control" name="DIMENSION3" id="DIMENSION3" aria-describedby="emailHelp" value="<%= product.DIMENSION3 %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">OTHERS1</label>
    <input type="text" class="form-control" name="OTHERS1" id="OTHERS1" aria-describedby="emailHelp" value="<%= product.OTHERS1 %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">OTHERS2</label>
    <input type="text" class="form-control" name="OTHERS2" id="OTHERS2" aria-describedby="emailHelp" value="<%= product.OTHERS2 %>">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">OTHERS3</label>
    <input type="text" class="form-control" name="OTHERS3" id="OTHERS3" aria-describedby="emailHelp" value="<%= product.OTHERS3 %>">
    </div>
    
    
    
    
    
    

    <br>
    <input type="submit" class="btn btn-primary" value="UPDATE PRODUCT">
</form>