<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" ></script>

<style>
    .svk{
        width:20vw; 
        word-wrap:break-word; 
        display:inline-block;
        text-align: center;
    }

    .container-svk{
        width: 80vw;
    }

    .svk-1{
        width:40vw; 
        word-wrap:break-word; 
        display:inline-block;
        text-align: center;
    }

    .quantity{
        width:2vw;
    }
    .price-svk{
        width: 20vw;
        text-align: center;
    }

    .quantity-svk{
        width: 10vw;
        text-align: center;
    }

    .total-svk{
        width: 10vw;
        text-align: center;
    }
</style>



<div class="container-svk" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12 pt-3">
            <div class="d-flex flex-column pt-4">
                <div><h5 class="text-uppercase font-weight-normal">SHOPPING CART</h5></div>
            </div>
            <div class="d-flex flex-row px-lg-5 mx-lg-5 mobile" id="heading">
                <div class="svk-1" id="produc">PRODUCTS</div>
                <div class="px-lg-5 ml-lg-5 price-svk" id="prc">PRICE</div>
                <div class="px-lg-5 ml-lg-1 quantity-svk" id="quantity">QUANTITY</div>
                <div class="px-lg-5 ml-lg-3 total-svk" id="total">TOTAL</div>
            </div>
            
            <% for (let product of cart){ %>
            <div class="d-flex flex-row justify-content-between align-items-center pt-lg-4 pt-2 pb-3 border-bottom mobile">
                <div class="d-flex flex-row align-items-center">
                    <div><img src="<%=product.IMAGE%>" width="150" height="150" alt="" id="image"></div>
                    <div class="svk">
                        <div><%=product.PRODUCT_NAME%></div>
                    </div>                    
                </div>
                <div class="pl-md-0 pl-1"><b><%=product.PRICE%></b></div>
                <div class="pl-md-0 pl-2">
                    <button class="btn" onclick="Increament(<%=product.PRODUCTID%>)">+</button><input type="text" class="px-1 quantity" name="quantity" id="id <%=product.PRODUCTID%>"  value=<%=product.QUANTITY%> readonly><button class="btn" onclick="Decreament(<%=product.PRODUCTID%>)">-</button>
                </div>
                <div class="pl-md-0 pl-1"><b><%=product.PRICE%></b></div>
                <div class="close">&times;</div>
            </div>
            <% } %>
            

        </div>
    </div>
</div>
<div class="container bg-light rounded-bottom py-4" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="/login"><button class="btn btn-sm bg-light border border-dark">GO BACK</button></a>
                </div>
                <div class="px-md-0 px-1" id="footer-font">
                    <b class="pl-md-4">SUBTOTAL<span class="pl-md-4" id="total-price">$<%=price%></span></b>
                </div>
                <div>
                    <a href="/cart/checkout"><button class="btn btn-sm bg-dark text-white px-lg-5 px-3">CHECKTOUT</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script >
     
    function Increament(productID){
        let data = {
            pid: productID,
            
        }
        axios.post(' http://localhost:3000/cart/cartIncreament',data).then((da)=>{
            console.log("-------------done-------------");
           // document.getElementById("total_price").innerHTML ='$'+da.data.price;

           console.log(productID);
           // let x=quantity+1;
           // document.getElementById("baal").innerHTML=
          // document.location.reload();
          let pp= "id "+productID;
          console.log(pp);
          document.getElementById("id "+productID).value = parseInt(document.getElementById("id "+productID).value) + 1;
        })
    }
    function Decreament(productID){
        let data = {
            pid: productID,
            
        }
        axios.post('http://localhost:3000/cart/cartDecreament',data).then((da)=>{
            console.log("-------------done-------------");
            //document.getElementById("total_price").innerHTML ='$'+da.data.price;

           console.log(productID);
           // let x=quantity+1;
           // document.getElementById("baal").innerHTML=
          // document.location.reload();
          let pp= "id "+productID;
          console.log(pp);
          let element=document.getElementById("id "+productID);
          element.value = parseInt(element.value) - 1;
          console.log(element.parentElement.parentElement);
          if(element.value==0){
           element.parentElement.parentElement.remove();
          }
          console.log("decreament done");
        })
    }
</script>